[Desktop Entry]
Encoding=UTF-8
Name=Beryl Settings Manager
Comment=Configure beryl
Icon=/usr/share/pixmaps/beryl-settings.svg
Exec=beryl-settings
Terminal=false
Type=Application
Categories=Settings;
