[Desktop Entry]
Encoding=UTF-8
Name=CompComm Settings Manager
Comment=Configure beryl
Icon=ccsm.svg
Exec=ccsm
Terminal=false
Type=Application
Categories=Settings;
