[Desktop Entry]
Encoding=UTF-8
Name=CompizConfig Settings Manager
Comment=Configure Compiz with CompizConfig
Icon=ccsm.svg
Exec=ccsm
Terminal=false
Type=Application
Categories=Settings;
